.form-fieldset
  margin-top 1.5rem
  width 100%
  > .input
    border .05rem solid rgba(fontColor, .35)
    border-radius .25rem
    margin-top .5rem
    max-width 50rem
    padding .5rem
    width 100%
    &::placeholder
      color rgba(fontColor, .45)
  > textarea
    height 15rem
    overflow auto
    resize none
