.rounded-button
  border none
  border-radius 2rem
  color white
  cursor pointer
  font-weight bold
  outline none
  padding .75rem 1.5rem
  text-decoration none
  transition fastTransition
  &.-primary
    background-color primary
    &:hover
      background-color darken(primary, 50%)
  &.-positive
    background-color positive
    &:hover
      background-color darken(positive, 15%)
  &.-negative
    background-color negative
    margin-left 1rem
    &:hover
      background-color darken(negative, 50%)
  &.-transparent-primary
    background-color rgba(primary, .75)
    &:hover
      background-color primary
  &.-circle
    border-radius 50%
    padding .75rem .95rem
  &.-menu-controller,
  &.-sidebar-controller
    position fixed
    +media(tablet)
      display none
  &.-menu-controller
    right 1rem
    top 1rem
    z-index 9
  &.-sidebar-controller
    left 1rem
    bottom 1rem
    z-index 1
  > span
    margin-left .5rem
  &.-inverted-primary
    background-color white
    box-shadow 0 .25rem 0 .25rem darken(lightGrey, 3.5%)
    color primary
    margin 1.5rem 0
    +media(tablet)
      display block
    &:hover
      box-shadow 0 .25rem 0 .15rem darken(lightGrey, 7.5%)
  &.-alone
    display block
    margin 1.5rem auto 0

